
.select-width {
    width: 250px;
    margin: 0 10px;
}

ng-select {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-width{
    color: white;
}