@import '../../../variables';

md-card{
    text-transform: capitalize;
    background-color: $primary-color;
}

.card-reset md-card-content {
    padding: 10px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.font-class {
    font-size: 3em;
    color: $primary-color-text;
}

.font-class.title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 15px;
}