<div class="main-container">
    <md-card class="card-reset">
        <md-toolbar color="primary" >
            <span>Details</span>
        </md-toolbar>
        <md-card-content>
            <form [formGroup]="form" (ngSubmit)="save(form)">
                <h6>Personal Information</h6>
                <md-input class="full-width" placeholder="Restaurant Name" formControlName="restaurantName"></md-input>
                <span *ngIf="!form.controls.restaurantName.valid && form.controls.restaurantName.touched" class="error-message" >Restaurant name is required</span>
                <div class="row smallest Grid--gutters ">
                    <div class="col-md-6">
                        <md-input class="full-width" placeholder="First Name" formControlName="firstName"></md-input>
                        <span *ngIf="!form.controls.firstName.valid && form.controls.firstName.touched" class="error-message" >First name is required</span>
                    </div>
                    <div class="col-md-6">
                        <md-input class="full-width" placeholder="Last Name" formControlName="lastName"></md-input>
                        <span *ngIf="!form.controls.lastName.valid && form.controls.lastName.touched" class="error-message" >Last name is required</span>
                    </div>
                </div>
                <fieldset class="location-section" formArrayName="locations">
                    <h6>Locations</h6>
                    <div class="row Grid--gutters">
                        <div class="col-md-12" *ngFor="let location of form.controls.locations.controls; let i=index">
                            <md-toolbar class="custom-md-toolbar small" color="accent" >
                                <span class="center-in-toolbar location-text">Location {{i+1}}</span>
                                <span class="fill-remaining"></span>
                                <span class="center-in-toolbar" *ngIf="form.controls.locations.controls.length > 1"><md-icon class="warn" fontSet="fa" fontIcon="fa-times" (click)="removeAddress(i)" ></md-icon></span>
                            </md-toolbar>
                            <fieldset [formGroupName]="i" class="form-border">
                                <md-input class="full-width" placeholder="Address" formControlName="address"></md-input>
                                <span *ngIf="!form.controls.locations.controls[i].controls.address.valid && form.controls.locations.controls[i].controls.address.touched" class="error-message" >This Field is Required</span>
                                <md-input class="full-width" placeholder="Address 2" formControlName="address2"></md-input>
                                <div class="row smallest Grid--gutters">
                                    <div class="col-md-4">
                                        <md-input class="full-width" placeholder="city" formControlName="city"></md-input>
                                        <span *ngIf="!form.controls.locations.controls[i].controls.city.valid && form.controls.locations.controls[i].controls.city.touched" class="error-message" >This Field is Required</span>
                                    </div>
                                    <div class="col-md-4">
                                        <md-input class="full-width" placeholder="postcode" formControlName="postcode"></md-input>
                                        <span *ngIf="!form.controls.locations.controls[i].controls.postcode.valid && form.controls.locations.controls[i].controls.postcode.touched" class="error-message" >This Field is Required</span>
                                    </div>
                                    <div class="col-md-4">
                                        <md-input class="full-width" placeholder="state" formControlName="state"></md-input>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="button-container location"><button md-button color="primary" type="button" (click)="addAddress()">Add Location <i class="fa fa-plus" ></i></button></div>
                    </div>
                </fieldset>
                <fieldset formGroupName="opening">
                    <div class="row smallest Grid--gutters opening-section">
                        <div class="col-md-12">
                            <div class="row Grid--gutters">
                                <div class="col-md-2">
                                    <h6>Opening Times</h6>
                                </div>
                                <div class="col-md-5">
                                    <h6 >Open</h6>
                                </div>
                                <div class="col-md-5">
                                    <h6 >Close</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" *ngFor="let day of daysInWeek">
                            <fieldset formGroupName="{{day}}">
                                <div class="row Grid--gutters">
                                    <div class="col-md-2">
                                        <p>{{day.substr(0,1).toUpperCase() + day.slice(1)}}</p>
                                    </div>
                                    <div class="col-md-5 center">
                                        <md-select formControlName="start" >
                                            <md-option *ngFor="let time of timeOptions" [value]="time" > {{time}} </md-option>
                                        </md-select>
                                    </div>
                                    <div class="col-md-5 center">
                                        <md-select formControlName="end" >
                                            <md-option *ngFor="let time of timeOptions" [value]="time" > {{time}} </md-option>
                                        </md-select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>  
                    </div>
                </fieldset>
                <fieldset formGroupName="contact">
                    <div class="row smallest Grid--gutters email-section">
                        <div class="col-md-12">
                            <h6>Contact Information</h6>
                        </div>
                        <div class="col-md-12">
                            <div class="row smallest Grid--gutters">
                                <div class="col-md-6">
                                    <md-input class="full-width" placeholder="Email" formControlName="email"></md-input>
                                    <div *ngIf="!form.controls.contact.valid && form.controls.contact.touched" >
                                        <span *ngIf="form.controls.contact.controls.email.errors?form.controls.contact.controls.email.errors.required : false"  class="error-message" >This Field is Required</span>
                                        <span *ngIf="form.controls.contact.controls.email.errors?form.controls.contact.controls.email.errors.pattern: false"  class="error-message" >Invalid email address</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <md-input class="full-width" placeholder="Phone Number" formControlName="phone"></md-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="button-container">
                    <button type="submit" md-button>Submit</button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>