<md-card>
    <md-card-subtitle>
        <span *ngFor="let category of categories"> {{category.name}} </span>
    </md-card-subtitle>
    <md-card-title>{{name}}</md-card-title>
    <md-card-content>
        <p>{{description | word:25}}</p>
    </md-card-content>
    <md-card-actions align="end">
        <span class="center"><md-checkbox (change)="checked.emit(id)" [checked]="handleChecked()" ></md-checkbox></span>
        <button md-button color="primary" (click)="buttonClicked.emit({id: id, action: 'Edit'})" class="font-size-16">Edit</button>
        <button md-button color="warn" (click)="buttonClicked.emit({id: id, action: 'Delete'})" class="font-size-16">Delete</button>
        <span class="fill-remaining"></span>
        <span class="center" (click)="handleShowMore()"><md-icon class="center chevron font-size-16" fontSet="fa" fontIcon="{{showMore? 'fa-chevron-down' : 'fa-chevron-up'}}"></md-icon></span>
    </md-card-actions>
    <md-card-content [@showMore]="showMore" >
        <md-list [@showMore]="showMore" *ngIf="showMore === 'show'" dense>
            <h3 md-subheader>Options</h3>
            <md-list-item *ngFor="let option of options">
                <p md-line> {{option}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Allergens</h3>
            <md-list-item *ngFor="let allergen of allergens">
                <p md-line class="demo-2"> {{allergen}} </p>
            </md-list-item>
            <md-divider></md-divider>
            <h3 md-subheader>Alternative</h3>
            <md-list-item *ngFor="let blacklist of blacklistAllergens">
                <p md-line class="demo-2"> {{blacklist + '-free'}} </p>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>