<div class="main-container">
    <div class="menu-options">
        <div class="row Grid--gutters small">
            <div class="col-md-3 col-xs-6" *ngFor="let item of category">
                <md-checkbox [ngClass]="{'selected': checking(item)}" [checked]="checking(item)" (change)="selected(item)">{{item.name}}</md-checkbox>
            </div>
        </div>
    </div>
    <md-input [(ngModel)]="value" (keypress)="addMenu($event)" placeholder="Enter new meal category name" class="half-width alone left">
        <md-hint align="end">Press Enter to add menu</md-hint>
    </md-input>

</div>