<md-card class="card-reset">
    <md-list dense>
        <h3 md-subheader>Opening Hours</h3>
        <md-list-item *ngFor="let day of daysInWeek">
            <h4 md-line>{{day.substr(0,1).toUpperCase() + day.slice(1)}}</h4>
            <p md-line [ngClass]="{'closed': openingData[day].closed, 'open': !openingData[day].closed}"> {{workingHoursDetail(day)}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Locations</h3>
        <md-list-item *ngFor="let location of locationsData">
            <p md-line>{{location.address + ',' + location.address2}}</p>
            <p md-line class="demo-2"> {{location.city}} </p>
            <p md-line class="demo-2"> {{location.postcode}} </p>
        </md-list-item>
    </md-list>
</md-card>