<div class="main-container">
    <md-card class="card-reset">
        <md-toolbar color="primary">
            <span>Menu Info</span>
        </md-toolbar>
        <md-card-content>
            <form [formGroup]="form" (ngSubmit)="save(form)">
                <md-input formControlName="name" placeholder="Name" class="full-width"></md-input>
                <md-textarea formControlName="description" placeholder="Description" class="full-width"></md-textarea>
                <fieldset class="form-section-seperator" >
                    <h6 class="form-section-header">Meal Categories</h6>
                    <app-menu-forms-menu-create (newMenu)="newMenu.emit($event)" (changeSelectedMenu)="handleSelectedMenu($event)" [category]="category" [inputSelectedMenu]="selectedMenu" ></app-menu-forms-menu-create>                    
                </fieldset>
                <fieldset class="form-section-seperator" >
                    <h6 class="form-section-header">Select Meal Options</h6>
                    <div class="menu-options row Grid--gutters small">
                        <md-checkbox [ngClass]="{'selected': checkingArrays(option, 'options'), 'col-md-3 col-xs-6': true }" *ngFor="let option of options" [checked]="checkingArrays(option, 'options')" (change)="selectionArrays(option, 'options')">{{option}}</md-checkbox>
                    </div>
                </fieldset>
                <fieldset class="form-section-seperator" >
                    <h6 class="form-section-header" >Select Allergens Present In Meal</h6>
                    <div class="allergies-options">
                        <div class="row Grid--gutters small">
                            <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let allergy of allergens">
                                <md-checkbox [ngClass]="{'selected': checkingArrays(allergy, 'allergy')}" [checked]="checkingArrays(allergy, 'allergy')" (change)="selectionArrays(allergy, 'allergy')">{{allergy}}</md-checkbox>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-section-seperator" *ngIf="selectedAllergies.length>0" >
                    <h6 class="form-section-header" >Select Allergens Not Present in different option(eg: select nut for nut free option)</h6>
                    <div class="allergies-options blacklist secondary-theme">
                        <div class="row Grid--gutters small">
                            <div class="col-md-3 col-sm-4 col-xs-6" *ngFor="let allergy of selectedAllergies">
                                <md-checkbox [ngClass]="{'selected': checkingArrays(allergy, 'blacklist')}" [checked]="checkingArrays(allergy, 'blacklist')" (change)="selectionArrays(allergy, 'blacklist')">
                                    {{allergy}}
                                </md-checkbox>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="button-container"><button type="submit" md-raised-button color="primary">Submit</button></div>
            </form>
        </md-card-content>
    </md-card>
</div>