@import "../../../variables";

.allergies-options {
    padding: 15px 40px;
    color: rgba(0, 0, 0, 0.7);
}

.allergies-options.blacklist {
}

.menu-options {
    color: rgba(0, 0, 0, 0.7);
}

.allergies-options .selected, 
.menu-options .selected {
    color: $accent-color;
}

.allergies-options.blacklist .selected {
    color: $primary-color;
}