@import '../../../variables';

.main-container {
    width: 100%;
    position: relative;
}

.side-panel{
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: $primary-color;
}

.page-content {
    margin-left: 250px;
}

.router-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.clickable {
    cursor: pointer;
    padding: 0 5px;
}