@import '../../../variables';

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: $primary-color;
    color: white;
    border-radius: 5px;
}